numpy==1.21
Flask==2.1.2
Flask-Caching==2.0.0
Flask-Compress
more-itertools==8.12.0  
Brotli
cachelib
click
dash
dash-core-components
dash-extensions
dash-html-components
dash-table
EditorConfig
gunicorn
importlib-metadata
itsdangerous
Jinja2
jsbeautifier
MarkupSafe
pandas
plotly
python-dateutil
pytz
six
tenacity
typing-extensions
Werkzeug
zipp
