numpy
Flask
Flask-Caching
Flask-Compress
more-itertools
Brotli
cachelib
click
dash
dash-core-components
dash-extensions
dash-html-components
dash-table
EditorConfig
gunicorn
importlib-metadata
itsdangerous
Jinja2
jsbeautifier
MarkupSafe
pandas
plotly
python-dateutil
pytz
six
tenacity
typing-extensions
Werkzeug
zipp
