body {
    background-color:rgb(10,10,10); 
    /* background-color:#152d72; */ 
}

.buttontuete {
	text-align:center; 
	display:inline-block; 
	width:14.27%;
}

.mybutton {
	width:51%;
}

.chipstuete {
	text-align:center; 
	display:inline-block; 
	width:14.27%;
    height:16.66%;
}

.chips {
	border-radius:50%;		
	display:inline-block; 
	width:14.27%;
	width:71%;
	height:auto;
	aspect-ratio:1/1;
	font-size:10pt;
}

.grau {
	background-color:rgb(100,100,100);
}

.rot {
	background-color:#ff2323;
}

.gelb {
	background-color:#DBDD00;
}

#logobox {
    text-align:center;
    color:white;
    font-size:10pt;
    vertical-align:center;
}

#logo {
    width:50%;
    display:inline;
    font-weight:bolder;
    font-size:20pt;
    color:white;
    text-align:center;
    vertical-align:center;
	border-radius:20%;		
}

#buttonrow {
    background-color: #ff2323;
    opacity: 1;
    background-image:  linear-gradient(135deg, #DBDD00 25%, transparent 25%), linear-gradient(225deg, #DBDD00 25%, transparent 25%), linear-gradient(45deg, #DBDD00 25%, transparent 25%), linear-gradient(315deg, #DBDD00 25%, #D50000 25%);
    background-position:  15px 0, 15px 0, 0 0, 0 0;
    background-size: 30px 30px;
    background-repeat: repeat;
    padding-top:10px;
}

#whoseturn {
	border-radius:10%;		
    font-size:16pt;
    text-align:center;
    display:inline-block;
    margin-left:10px;
    margin-top:10px;
    margin-bottom:8px;
    padding:5px;
    width:140px;
}


#board {
    background-color:rgb(30,30,50);
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;

}

#command {
    text-align:center;
    padding-top:10px;
    padding-bottom:10px;
}

.explain {
    color:white;
}

#restart {
    margin-left:8px;
    margin-top:15px;
}

#textarea {
    display:none;
    margin-top:20px;
    height:300px;
}


